::selection {
    color: white;
    background: #1abc9c;
}

body{
	background: #f2f2f2;
	font-size: 12px;
	font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
}

a{
	color: #555;
}
a:hover {
	color: #16a085;
}
i.fa{
	margin-right: 5px;
}
#mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 9999;
}
#mask .container {
	border-radius: 6px;
	margin: 0 auto;
}
#mask .container p {
	padding: 15px 20px;
	font-size: 14px;
}
#mask .bg-info {
	background-color: #1abc9c;
}

#footer {
	border-top: 1px solid #d9d9d9;
	padding: 15px 0;
	overflow: hidden;
}
#footer p {
	margin: 10px auto;
	text-align: center;
	color: #888;
}
/*搜索*/
.search-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 9000;
	display: none;
}
.search-mask .container {
	position: absolute;
	top: 30%;
	left: 50%;
	width: 600px;
	height: 38px;
	margin-top: -19px;
	margin-left: -300px;
	text-align: center;
}
@media (max-width: 767px) {
	.search-mask .container {
		width: 90%;
		margin-left: -45%;
	}
}
.search-form .dropdown-menu {
	min-width: 80px;
}
.search-form .dropdown-menu:before,
.search-form .dropdown-menu:after {
	display: none;
}
.search-form .input-group button {
	color: #555;
}
.search-form .input-group .input-group-btn + input,
.search-form .input-group .input-group-btn + input:focus {
	border-radius: 0 6px 6px 0;
	border-color: #bdc3c7;
	box-shadow: none;
}


/*登录注册模块*/
#myLogin .modal-login {
	position: absolute;
	top: 15%;
	left: 50%;
	margin-left: -200px;
	width: 440px;
	overflow: hidden;
}
#myLogin .modal-content {
	padding: 30px 60px;
}
#myLogin .modal-content .close {
	position: absolute;
	top: 15px;
	right: 15px;
}
#myLogin .modal-content .tab-nav{
	margin-bottom: 20px;
	font-size: 18px;
	text-align: center;
	font-weight: 600;
}
#myLogin .tab-nav a{
	color: #b1b1b1;
}
#myLogin .tab-nav a:hover,#myLogin .tab-nav a.active{
	color: #555;
}
#myLogin .form-group {
	width: 318px;
}
#myLogin .input-group-addon {
	background-color: #fff;
	color: #555;
	font-size: 14px;
	width: 46px;
}
#myLogin .form-control {
	font-size: 14px;
	width: 272px;
}
#myLogin .forget {
	color: #999;
}
#myLogin a.forget:hover {
	color: #16a085;
}
#myLogin .login-other p {
    margin-bottom: 15px;
    color: #999999;
    text-align: center;
}
#myLogin .login-other li {
	float: left;
	margin: 0 20px;
}
#myLogin .login-other li a {
    width: 44px;
    height: 44px;
    display: inline-block;
    border-radius: 50%;
    line-height: 44px;
    font-size: 20px;
    background: #eeeeee;
    text-align: center;
}
#myLogin .login-other li a i{
	margin-right: 0px;
}
#myLogin .login-other li.qq a:hover {
    background-color: #15a7f0;
    color: #fff;
}
#myLogin.login-other li.weixin a:hover {
    background-color: #49be38;
    color: #fff;
}
#myLogin .login-other li.weibo a:hover {
    background-color: #f57e42;
    color: #fff;
}
#myLogin .help-block {
	color: #e74c3c;
}



.select-box {
	display: inline-block;
}
#header {
	margin-bottom: 0px;
}
#header .logo, #header .logo-min {
	display: block;
	float: left;
	height: 62px;
	padding: 7px 15px;
	margin-left: -15px;
}
@media (max-width: 767px) {
	#header .logo-min {
		display: block;
		padding-left: 10px;
	}
	#header .logo {
		display: none;
	}
}
@media (min-width: 768px) {
	#header .logo-min {
		display: none;
	}
}
#header .logo img,#header .logo-min img{
	height: 48px;
	vertical-align: middle;
}
/*#header .navbar-nav li.active a{
	font-weight: 600;
}*/

#header .navbar-user {
	float: right;
	margin: 0;
	margin-right: -15px;
}
#header .navbar-user > li {
	float: left;
}

#header .search{
	background-color: #1abc9c;
	color: #fff;
}
#header .search a {
	padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid transparent;
	color: #fff;
	width: 62px;
	height: 62px;
	text-align: center;
}
#header .search a i.fa{
	line-height: 30px;
	margin-right: 0px;
}
#header .search:hover {
	background-color: #b9b9b9;
}
#header .search a:hover {
	color: #fff;
}
#header .login > a {
	color: #1abc9c;
} 
#header .dropdown > a {
	border-color: transparent; 
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}
#header .img-circle{
	width: 40px;
	height: 40px;
	border: 2px solid transparent;
	-webkit-transition: border-color 0.25s, color 0.25s;
          transition: border-color 0.25s, color 0.25s;
}
#header .dropdown > a:hover .img-circle {
	border: 2px solid #1abc9c;
}
#header .dropdown > a:hover .caret{
	border-top: 5px solid #1abc9c;
}
#header .dropdown .badge {
	position: absolute;
	top: 4px;
	right: 30%;
	display: none;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #e74c3c;
    border-radius: 10px;
}
#header .navbar-wq {
	position: relative;
}
#header .navbar-wq .dropdown-menu {
	top: 60px;
	left: -10px;
} 
.navbar-wq .dropdown-menu:before, .navbar-wq .dropdown-menu:after {
	left: 10%;
	right: inherit;
}
#header .navbar-user .dropdown-menu{
	right: 0;
}
.navbar-user .open.dropdown .dropdown-menu li a {
	display: block;
	position: relative;
}
.navbar-user .open.dropdown .dropdown-menu li a:hover {
	background-color: #1abc9c;
	color: #fff;
}





#main {
	margin-top: 20px;
}
#main .sidebar .widget{
	background: #fff;
	padding: 15px 20px;
	margin-bottom: 20px;
}
#main .sidebar .widget .title {
	position: relative;
	padding-left: 15px; 
	font-size: 14px;
	color: #666;
}
#main .sidebar .widget .title:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 4px;
	height: 16px;
	background: #1abc9c;
	border-radius: 3px;
}
#main .sidebar .widget .content {
	padding: 10px 0;
}
#main .sidebar .widget .media-left a {
	display: block;
	width: 80px;
	height: 60px;
	background: #666 center no-repeat;
	background-size: cover;
}
#main .sidebar .widget .media-heading {
	max-height: 60px;
	line-height: 20px;
	font-weight: 600;
	overflow: hidden;
	font-size: 13px;
}
.widget .tag-cloud a.tag {
    border: 1px solid #ebebeb;
    padding: 4px 8px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.widget .tag-cloud a.tag:hover {
	color: #fff;
	background: #1abc9c;
}
.widget .avatar {
	display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 15px;
    vertical-align: top;
    overflow: hidden;
}
.widget .w-desc {
	overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}
.widget .w-desc .name {
	font-size: 17px;
    font-weight: 600;
    display: inline-block;
    margin-right: 4px;
    margin-left: 0px;
}
.widget .w-desc .brief {
	margin-top: 5px;
	color: #666666;
}
.widget .content .btn-add {
	display: inline-block;
	width: 49%;
	text-align: center;
	line-height: 20px;
	font-size: 13px;
	border-right: 1px solid #ccc;
}
.widget .content .btn-add:last-child{
	border: 0px;
}
.widget .content .btn-add i {
	font-size: 24px;
	margin-bottom: 4px;
}



#main {
	margin-bottom: 35px;
}
.article {
	padding: 35px 40px;
	background: #fff;
	margin-bottom: 35px;
	position: relative;
}
.article .top .title{
	font-size: 18px;
	font-weight: 600;
}
.desc {
	color: #959595;
	margin: 14px 0 10px;
}
.desc span {
	margin: 0 7px;
	white-space: nowrap;
}
.desc .author{
	color: #1abc9c;
}
.desc .author:hover{
	color: #48c9b0;
}
.desc .author img {
	width: 20px;
	height: 20px;
	position: relative;
	top: -2px;
}
.desc span.tags a{
	color: #1abc9c;
	margin-right: 10px;
}
.article .top hr{
	margin: 10px 0;
}
.article > .banner img{
	width: 100%;
}
.article > .content {
	margin: 15px 0 0;
	font-size: 14px;
	color: #666;
	line-height: 20px;
}

#main .content-wrapper {
	background-color: #fff;
	padding: 30px;
	margin-bottom: 20px;
	border: none;
}
.content-wrapper h1{
	font-weight: 600;
	margin: 10px 0px 30px;
	font-size: 24px;
}
#main .content-wrapper .content {
	margin-top: 20px;
	padding: 0px;
	min-height: 0px;
}
.content-wrapper .content img {
	max-width: 100%;
}
.content-wrapper .content a {
	color: #1abc9c;
}
.content-wrapper .content a:hover {
	color: #48c9b0;
}
.content-wrapper .content p {
	line-height: 24px;
	margin-bottom: 16px;
}

.content-wrapper .single-share{
	padding: 25px 0 0;
    margin-top: 25px;
    border-top: solid 1px #f4f4f4;
}
.content-wrapper .single-share ul {
	margin: 0px;
	padding: 0;
}
.content-wrapper .single-share li {
	float: left;
	margin-right: 50px;
}
.content-wrapper .single-share li a i {
	margin-right: 0px;
}
.content-wrapper .single-share li a{
	width: 28px;
    height: 28px;
    background: #1abc9c;
    display: block;
    text-align: center;
    line-height: 28px;
    color: #fff;
    border-radius: 50%;
    font-size: 17px;
    position: relative;
}
.content-wrapper .single-share li a.active {
	background-color: #e74c3c;
}
.content-wrapper .single-share li a span{
	position: absolute;
    left: 100%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0 6px;
    background: #f4f4f4;
    border: solid 1px #e9eaec;
    border-radius: 4px;
    margin-left: 10px;
    line-height: 24px;
    font-size: 13px;
    color: #666666;
    font-family: arial, sans-serif;
}
.content-wrapper .single-share li a span:after{
	position: absolute;
    top: 8px;
    left: -4px;
    content: " ";
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid 1px #e9eaec;
    border-width: 0 0 1px 1px;
    background: #f4f4f4;
}



.comment-wrapper {
	margin: 20px 0px;
	background-color: #fff;
	padding: 25px 30px;
}
.comment-wrapper h4{
	font-size: 16px;
	font-weight: bold;
}

.comment-list .comment-item {
	margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    font-size: 14px;
    line-height: 1.4;
}
.comment-item p {
	word-break: break-all;
    word-wrap: break-word;
}
.comment-item .meta-top {
	padding-top: 10px;
	margin: 0 0 10px;
}
.comment-item .meta-top .avatar {
	float: left;
	width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 10px;
    line-height: 1%;
}
.comment-item .meta-top .avatar img {
	width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 50%;
}
.comment-item .meta-top a.avatar:hover img {
	border-color: #1abc9c;
}
.comment-item .meta-top > p {
	margin: 0;
    line-height: 1;
}
.comment-item .content .author-name {
	font-size: 12px;
    color: #1abc9c;
}
.comment-item .reply-time {
	margin-top: 3px;
    font-size: 12px;
    color: #999999;
}
.comment-item .comment-footer {
	margin-bottom: 10px;
}
.comment-item .reply,.comment-item .delete {
	margin-left: 12px;
	font-size: 12px;
}

.comment-list .comment-text {
	padding: 10px;
    margin-top: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}
.comment-list .comment-text textarea {
	width: 100%;
    height: 78px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    background: transparent;
    resize: none;
}
.comment-list .comment-text textarea:focus{
	outline: none;
}
.comment-list .comment-text .btn-primary {
	padding: 4px 12px;
	margin-top: 10px;
}

.comment-list p.load-more {
	padding: 10px 0;
    margin-bottom: 0;
    font-size: 12px;
    text-align: center;
}
.comment-list p.load-more a {
	color: #1abc9c;
}
.comment-list .child-comment-list {
    padding-bottom: 30px;
    margin-top: 10px;
    border-top: 1px dashed #eeeeee;
}
.comment-list .child-comment {
    padding: 15px 0 15px 15px;
    border-bottom: 1px dashed #d9d9d9;
    border-left: 3px solid #d9d9d9;
    font-size: 12px;
}
.comment-list .child-comment p {
    margin-bottom: 0;
    font-size: 13px;
}



#editArt #myDesc {
	height: 100px;
	resize: none;
}
#editArt #myCloumn {
	height: 34px;
}
#editArt .tagsinput ul {
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.15);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border-radius: 3px;
    font-size: 13px;
	z-index: 1000;
}
#editArt .tagsinput ul li a {
	padding: 6px 12px;
}
#editArt .tagsinput ul li a:hover,#editArt .tagsinput ul li a.active{
	background-color: #1abc9c;
	color: #fff;
}



#editCloumn {
	max-width: 600px;
	margin: 50px auto 0;
	overflow: hidden;
}
#editCloumn h1 {
	text-align: center;
	margin: 20px;
}
#editCloumn p {
	font-size: 14px;
	text-align: center;
	margin-bottom: 40px;
}
#editCloumn textarea {
	min-height: 200px;
	resize: none;
}
#editCloumn .help-block {
	margin: 0;
	font-size: 12px;
}


.cloumn-page, .tag-page, .user-page{
	overflow: hidden;
	padding: 15px 40px;
	text-align: center;
	color: #fff;
}
.cloumn-page > h2, .tag-page>h2, .user-page>h2{
	font-weight: 600;
	margin-bottom: 20px;
}
.cloumn-page > h2 >a, .tag-page>h2>a, .user-page>h2>a {
	color: #fff;
	font-size: 20px;
	position: relative;
	top: -20px;
}
.cloumn-page > h2 >a:hover, .tag-page>h2>a:hover, .user-page>h2>a:hover {
	color: #1abc9c;
}
.cloumn-page p, .tag-page p, .user-page p{
	font-size: 12px;
}
.cloumn-page .desc {
	color: #fff;
}
.cloumn-page .desc .author{
	color: #fff;
}

.full-page {
	width: 100%;
	padding: 90px 0 90px;
	background: url('/image/user-bg.jpeg') no-repeat center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.full-page .mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(26,188,156,0.3);
	z-index: -1;
}


.nav-tabs {
	margin-bottom: 20px;
	border: none;
	background: #eaeaea;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.nav-tabs a{
	height: 40px;
	line-height: 40px;
	padding: 0 13px;
	border: none;
	border-radius: inherit;
	position: relative;
}
.nav-tabs > li > a.active, .nav-tabs > li > a:focus {
	background-color: #1abc9c;
	color: #fff;
}
.nav-tabs a.active:before {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: rotate(45deg) translate(0, 0);
    -ms-transform: rotate(45deg) translate(0, 0);
    transform: rotate(45deg) translate(0, 0);
}
.nav-tabs a:before {
    -webkit-transform: translate(0, -8px);
    -ms-transform: translate(0, -8px);
    transform: translate(0, -8px);
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: #1abc9c;
    content: " ";
    display: block;
    margin-top: -7px;
    margin-left: -3px;
}
.user-page-content .update {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #1abc9c;
	display: inline-block;
	padding: 4px 10px;
	color: #fff;
}

.card {
	background-color: #fff;
    border: 0;
    border-radius: 2px;
    -webkit-box-shadow: rgba(0,0,0,.0470588) 0 2px 3px 0;
    box-shadow: rgba(0,0,0,.0470588) 0 2px 3px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-bottom: 20px;
    transition: all .3s;
    transition-delay: .1s;
}
@media (max-width: 767px) {
	.card {
	    margin-bottom: 10px;
	}
}
.card .card-header {
    padding: 10px 15px 10px 5px;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.card .card-header {
    border-bottom: none;
    padding: 15px;
}
.card .card-header {
    line-height: 20px;
    font-size: 14px;
}
.card .card-header>:last-child {
    margin-bottom: 0;
}
.card .card-header .card-title {
    font-weight: 600;
}
@media (min-width: 768px) {
	.card-header {
	    line-height: 1!important;
	}
	.card .card-header {
	    padding: 20px;
	    box-shadow: 0 1px 0 rgba(0,0,0,.1);
	}
}
.card .card-content {
	padding: 20px;
}

.cloumn-manager {
	font-size: 14px;
}


.sidebar-user {
	background-color: #fff;
}
.settings-page .avatar {
	position: relative;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-color: #ededed;
    border-radius: 50%;
    float: left;
}
.sidebar-user .info-avatar {
    margin-right: 15px;
}
.avatar.img-60 {
	width: 60px;
    height: 60px;
}
.avatar.img-100 {
    width: 100px;
    height: 100px;
}

.sidebar-user .info-items>[class*=info-] {
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sidebar-user .info-name {
    font-size: 18px;
    font-weight: 600;
}
@media (max-width: 767px) {
	.sidebar-nav .nav>li {
	    float: left;
	    width: 20%;
	}
}
@media (max-width: 767px) {
	.sidebar-nav .nav>li+li {
	    border-left: 1px solid #ededed;
	}
}
.sidebar-nav li:not(:last-child) {
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
}
.sidebar-nav li a{
	display: block;
    padding: 15px 20px;
    font-size: 16px;
    color: grey;
    transition: color 218ms,border-width .305s,padding .305s;
}
.sidebar-nav li a.active {
    color: #383838;
    font-weight: 600;
}
@media (max-width: 991px) {
	.sidebar-nav li a {
	    padding: 20px;
	    text-align: center;
	}
}
@media (max-width: 767px) {
	.sidebar-nav a.active {
	    padding-bottom: 13px;
	    border-bottom-width: 3px;
	}
	.sidebar-nav li a {
	    padding: 15px 15px 16px;
	    border-bottom: 0 solid #1abc9c;
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.sidebar-nav a {
	    border-left: 0 solid #1abc9c;
	}
	.sidebar-nav a.active {
	    padding-left: 17px;
    	border-left-width: 3px;
	}
}
.sidebar-nav li .fa {
	margin-right: 0;
}
@media (min-width: 992px){
	.sidebar-nav li .fa, .sidebar-nav li br {
	    display: none;
	}
}
@media (max-width: 991px){
	.sidebar-nav li .nav-title {
	    font-size: 12px;
	}
}
@media (max-width: 767px) {
	.sidebar-nav .nav-title {
	    display: block;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}	
}
@media (max-width: 480px) {
	.sidebar-nav .nav-title, .sidebar-nav br {
	    display: none;
	}
}
@media (max-width: 767px) {
	.card :not(:first-child):last-child {
	    margin-bottom: 0!important;
	}
}



.info-group .form-group label {
    color: grey;
    text-align: right !important;
    font-size: 14px;
}
@media (max-width: 767px) {
	.info-group .form-control {
		margin-bottom: 15px;
	}
}

@media (min-width: 768px) {
	.profile-manager .avatar-label {
	    padding-top: 40px;
	}
	.info-group .form-group label {
		padding-top: 9px;
	}
}
.avatar-wrap .avatar {
    margin-right: 20px;
}
.avatar-wrap .avatar-set {
    margin-top: 25px;
    float: left;
}
@media (min-width: 768px) {
	.settings-page input, .settings-page .btn, .settings-page textarea {
	    max-width: 400px;
	}
}

.settings-page .list-group-item {
	padding: 20px;
	border-width: 0;
	border-radius: 0 !important;
	background: 0 0;
	box-shadow: 0 1px 0 rgba(0,0,0,.05);
}
.settings-page .list-group .handler-set {
    position: relative;
    top: -5px;
    float: right;
    margin-left: 5px;
}
@media (min-width: 768px) {
	.settings-page .list-group .handler-set {
		right: -5px;
	}
}
.settings-page .list-group .info-app {
	font-size: 14px;
}
.settings-page .list-group .info-app .fa {
	font-size: 28px;
	vertical-align: middle;
	margin-right: 10px;
}
.settings-page .list-group .info-app a{
	color: #1abc9c;
	font-weight: 400;
}

/*浮动工具*/
#fixedTools {
	position: fixed;
	bottom: 40px;
	right: 40px;
	border: 1px solid #ddd;
    background: #fff;
    width: 40px;
    text-align: center;
    border-radius: 2px;
    line-height: 40px;
    z-index: 1000;
}
#fixedTools a {
    display: block;
    color: #999;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
#fixedTools a:hover {
    background: #f3f3f3;
    text-decoration: none;
}



.user-auth-page {
	background-color: #fff;
	border-radius: 4px;
}
.user-auth-page .auth-top {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
	padding: 0 20px;
}
.user-auth-page .auth-top h3 {
	font-size: 18px;
    font-weight: 600;
    margin: 0 0 -1px;
    padding: 20px 0 0;
    line-height: 38px;
    border-bottom: solid 3px #1abc9c;
    display: inline-block;
}
.user-auth-page .auth-top a {
	display: block;
	font-size: 14px;
	padding: 20px 0 0;
	line-height: 38px;
	color: #1abc9c;
}
.user-auth-page .auth-content {
	width: 400px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 40px; 
}
.user-auth-page .auth-content .user {
	padding-top: 40px;
}
.user-auth-page .auth-content .avatar {
	width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 0 1px rgba(0,0,0,.6);
    margin: 0 auto 20px;
    position: relative;
}
.img-120 {
	width: 120px;
	height: 120px;
}
.user-auth-page .auth-content .name {
	font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.user-auth-page .auth-content .desc {
	text-align: center;
	margin-bottom: 20px;
}
.user-auth-page .auth-content .links {
	margin-bottom: 40px;
}

.news-page .tabs-content{
	background-color: #fff;
	padding: 10px;
}
.news-page .content-item li{
	border: 0px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0px;
}

