#header .logo {
	display: block;
	float: left;
	height: 62px;
	padding: 7px 15px;
	margin-left: -15px;
}
#header .logo img{
	height: 48px;
	vertical-align: middle;
}
#header .search{
	background-color: #1abc9c;
	color: #fff;
}
#header .search a {
	color: #fff;
	width: 62px;
	text-align: center;
}
#header .search:hover {
	background-color: #b9b9b9;
}
#header .search a:hover {
	color: #fff;
}
#header .login a {
	color: #1abc9c;
} 